@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #1f1f1f;
  --green: #008d44;
  --white: #f7f7f7;
  --grey: #ececec;
  --red: #c82a35;
  --gold: #daa520;
  --border: 2px solid var(--black);
}

body {
  height: 100vh;
  background: linear-gradient(to right, var(--green), var(--red));
  font-family: "Raleway", sans-serif;
  color: var(--black);

  .container {
    position: relative;
    height: 100%;
    background-color: var(--white);
    width: 60%;
    margin: 0 auto;
    border-left: var(--border);
    border-right: var(--border);
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  border-bottom: var(--border);

  & .heading-main {
    font-family: "Italianno", serif;
    font-size: 5rem;
    cursor: pointer;
  }

  & h2 {
    margin-bottom: 1rem;
  }

  & nav {
    width: 100%;
    display: flex;
    justify-content: center;

    .buttons {
      width: 50%;
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 2rem;

      & button:hover {
        color: var(--gold);
      }
    }
  }
}

.btn {
  font-family: inherit;
  padding: 0.25rem 1.5rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--white);
  font-weight: 700;
  font-size: 1.2rem;
}

.content {
  padding: 4rem 2rem;
  height: 70vh;
  overflow-y: scroll;

  .content-top {
    text-align: center;
    margin-bottom: 4rem;
    flex-shrink: 0;

    p {
      font-size: 2rem;
      margin-bottom: 1.5rem;
      font-weight: bold;
      word-spacing: 0.5rem;
      letter-spacing: 0.1rem;
      line-height: 2.5rem;
    }
  }
}
.content-bottom {
  p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    word-spacing: 0.5rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
  }
  ul {
    list-style: none;
    font-weight: 200;
  }
}

ol {
  list-style: upper-roman;
  font-weight: 400;
}

ol > li {
  margin-left: 2rem;
  margin-bottom: 1.5rem;
}

ul > li {
  margin-bottom: 3rem;
}

li > h2 {
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-color: var(--grey);
  padding: 2rem 1rem;
  border-radius: 10px;

  & div {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 40%;
  }

  & div:last-of-type {
    margin-bottom: 2rem;
  }

  & label {
    font-size: 1rem;
    font-weight: bold;
    word-spacing: 0.5rem;
    letter-spacing: 0.1rem;
  }

  & textarea {
    padding: 0.5rem;
    max-width: 95%;
  }

  & input,
  textarea {
    border: 1px solid var(--black);
    border-radius: 5px;
    padding-left: 0.5rem;
  }

  & .btn-submit {
    color: var(--white);
    background-color: var(--black);
  }
}

strong {
  font-weight: 900;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--white);
}
